
.header h1 {
  font-family: "Lucida Sans";
  font-size:25px;
  color:white;
  padding-left: 10px;
}


 .backgroundcolorindex {
   background-color:#666362;
 }


.nameindex {
  font-family:"brush-script MT italic";
  font-size:12px;
  color:white;
  padding-left: 10px;
}

.nameindex a{
  color:white;
}

.homelist li{
  font-family:"Lucida Sans";
  font-size: 20px;
  color:white;
  padding-top: 30px;
  text-decoration: underline;
}

.homelist a{
  color:white;
}


.indexfooter a{
  display: inline;
  float:right;
}

.nameabout {
  font-family:"brush-script MT italic";
  font-size:12px;
  padding-left: 10px;
}

.nameabout a {
    color:black;
}



.headertext h1{
  font-family: "Lucida Sans";
  font-size:25px;
  padding-left: 10px;
  text-decoration:underline;
}

 .aboutpara p{
  font-family:"modern no.2";
  font-size: 14px;
  padding:15px;
  margin-top:30px;
  color:white;
}

.aboutpara {
    background:#666362;
}

.aboutfooter h3{
  font-family: "Lucida Sans";
  font-size:20px;
}

.aboutfooter a {
  margin-top: -29px;
  float:right;
}

.nameart {
  font-family:"brush-script MT italic";
  font-size:12px;
  padding-left: 10px;
}

.nameart a {
  color:black;
}

.imagesart h1 {
  font-family:"Lucida Sans";
  font-size: 25px;
  color:white;
  padding: 10px;
  margin-top:5px;
}

.imagesart p {
  font-family:"Modern No. 2";
  font-size: 15px;
  color:white;
  padding: 10px;
  margin-top:-15px;
}

.imagesart li {
    background:#666362;
    margin:30px;
}

.namedesign {
  font-family:"brush-script MT italic";
  font-size:12px;
  padding-left: 10px;
}

.namedesign a {
  color:black;
}

.imagesdesign h1 {
  font-family:"Lucida Sans";
  font-size: 25px;
  color:white;
  padding: 10px;
  margin-top:5px;
}

.imagesdesign p {
  font-family:"Modern No. 2";
  font-size: 15px;
  color:white;
  padding: 10px;
  margin-top:-15px;
}

.imagesdesign li {
    background:#666362;
    margin:30px;
}

.namephoto {
  font-family:"brush-script MT italic";
  font-size:12px;
  padding-left: 10px;
}

.namephoto a {
  color:black;
}

.imagesphoto h1 {
  font-family:"Lucida Sans";
  font-size: 25px;
  color:white;
  padding: 10px;
  margin-top:5px;
}

.imagesphoto p {
  font-family:"Modern No. 2";
  font-size: 15px;
  color:white;
  padding: 10px;
  margin-top:-15px;
}

.imagesphoto li {
    background:#666362;
    margin:30px;
}

@media (min-width:768px){

}
