.homebar ul {
  position:absolute;
  margin-top:-800px;
  z-index: 100;
  color: white;
  list-style:none;
  font-family:"garamond, bold";
  font-size: 30px;
}

.homebar a{
  color:white;
  text-decoration: none;
}


.backgroundimghome {
  position: relative;
}

.homebar2 ul {
  position:absolute;
  margin-top:-710px;
  z-index: 100;
  color: white;
  list-style:none;
  font-family:"garamond,bold";
  font-size: 45px;
}

.button {
  float: right;
  margin-top:30px;
}


.homebar2 a{
  color:white;
  text-decoration: none;
}

.homebar2 a{
  color:white;
  text-decoration: none;
}

.homebar2 a:hover{
  text-decoration: underline;
}

.homebar a:hover{
  text-decoration: underline;
}

.name h3 {
  font-family:"brush script mt";
  font-size: 60px;
  position: absolute;
  margin-top: -320px;
  margin-left:530px;
  color:black;
}

.name h3:hover{
  color:grey;

}

.name img {
  position: absolute;
  margin-top: -360px;
  margin-left:560px;
}

.single h1 {
  font-family: "brush script mt";
  font-size: 24px;
  color: black;

}
.single a{
  text-decoration: none;
}

.single a:hover{
  text-decoration: underline;
  color:black;
}


.titletext h2 {
  font-family: "garamond";
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
  text-decoration: underline;
}
.titletext a:hover {
  text-decoration: underline;
}

.titletext h3 {
  font-family: "garamond";
  font-size: 18px;
  margin-bottom:20px;
  text-align: center;
}


.image img {
  width:960px;
  height:auto;
  margin-bottom: 40px;
}

.gridtitle h2{
  font-family: "garamond,bold";
  font-size: 48px;
  text-align: center;
  margin-top: 50px;
  text-decoration: underline;
  margin-left: 200px;
}

.painting li {
  list-style: none;
  margin-top:50px;
  float:right;
}

.painting2 li {
  float: left;
  margin-left: 30px;
  list-style: none;
  margin-top:50px;
}

.painting3 li {
  float: left;
  margin-left: 90px;
  list-style: none;
  margin-top:30px;
}

 .thumbnail li {
   list-style: none;
 }

 .button {
   float: right;
   margin-right:-140px;
 }
.thumb {
  position: relative;
}

.info {
  position: absolute;
  top:0;
  left:0;
  background: grey;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.info:hover {
  opacity:.7;
}

.info p {
  font-family: "sitka,";
  font-style: italic;
  font-size: 30px;
  margin-top: 25%;
  margin-left:90px;
  color: white;
}

.painting img {
  width: 310px;
}

.painting2 img {
  width: 310px;
}

.painting3 img {
  width: 310px;
}
.single1 h1 {
  font-family: "brush script mt";
  font-size: 24px;
  color: white;
  z-index: 50;
  position: absolute;
  margin-top: -990px;
}

.single1 a:hover {
    text-decoration: underline;
    color:white;
  }



.backgroundmeimage img {
  position: relative;
}

.myinfo h2 {
  font-family: "garamond";
  font-size:24px;
  color: white;
  position: absolute;
  z-index: 50;
  margin-top:-700px;
  margin-left: 700px;
  text-decoration: underline;
}

.button {
  font-family: "garamond";
  font-size:16px;
  color: white;
  position: absolute;
  z-index: 50;
  margin-top:-650px;
  margin-left: 700px;
  text-align: left;
}

h4 {
  font-family: "garamond";
  float:right;
}



.nav h4{
  display: block;
  font-family: "garamond";
  float:right;
}

.button1 img{
  width: 40px;
  position: absolute;
  margin-top:30px;
  margin-left:-10px;
}

.backgroundimage img{
  position: relative;
}

.myinfo h3{
  font-family: "garamond,";
  font-size:18px;
  color: white;
  position: absolute;
  z-index: 50;
  margin-top:-650px;
  margin-left: 700px;
}
.myinfo h4 {
  font-family: "garamond,";
  font-style: italic;
  font-size:18px;
  color: white;
  position: absolute;
  z-index: 50;
  margin-top:-420px;
  margin-left: 750px;
  text-decoration: underline;
}

.icons li{

}

.icons1 img{
  position:absolute;
  z-index: 50;
  margin-top: -370px;
  margin-left: 710px;
  float:left;
}

.icons2 img{
  position:absolute;
  z-index: 50;
  margin-top: -370px;
  margin-left: 860px;
  float:left;
}
.icons h5{
  font-family: "garamond";
  font-size: 16px;
  color:white;
  text-decoration-line: none;
  position:absolute;
  list-style: none;
  z-index: 50;
  margin-top: -370px;
  margin-left: 770px;
  float:left;
}
