
.header h1 {
  font-family: "Lucida Sans";
  font-size:25px;
  color:white;
  padding-left: 10px;
}
.navhome a {
  color:white;
}
.navs a{
  color:black;
}

.navbar-toggle .icon-bar{
  background-color:white;
}
 .backgroundcolorindex {
   background-color:#666362;
   display:table;
 }
.navs .icon-bar{
  background-color:black;
}

.nameindex {
  font-family:"Pacifico";
  font-size:12px;
  color:white;
  padding-left: 10px;
  padding-top:10px;
}

.nameindex a{
  color:white;
}

.homelist li{
  font-family:"Lucida Sans";
  font-size: 20px;
  color:white;
  padding-top: 30px;
    padding-left:10px;
}

.homelist a{
  color:white;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  text-decoration:none;
  display:block;
}

.homelist a:hover{
  color: grey;
}
.indexfooter a{
  display: inline;
  float:right;
}
.indexfooter {
  width:100%;
  float:left;
}
.nameabout {
  font-family:"Pacifico";
  font-size:12px;
  padding-left: 10px;
  padding-top:10px;
}

.nameabout a {
    color:black;
}



.headertext h1{
  font-family: "Lucida Sans";
  font-size:25px;
  text-decoration:underline;
  margin-left:-15px;
}

 .aboutpara p{
  font-family:"modern no.2";
  font-size: 14px;
  padding:15px;
  color:white;
}

.aboutpara {
    background:#666362;

}

.aboutfooter h3{
  font-family: "Lucida Sans";
  font-size:20px;
}

.aboutfooter a {
  margin-top: -29px;
  float:right;
}

.nameart {
  font-family:"Pacifico";
  font-size:12px;
  padding-left: 10px;
  padding-top:10px;
}

.nameart a {
  color:black;
}

.imagesart h1 {
  font-family:"Lucida Sans";
  font-size: 25px;
  color:white;
  padding: 10px;
  margin-top:5px;
  margin-left:30px;
}
.imageofme img{
  padding-bottom:10px;
}

.imagesart p {
  font-family:"Modern No. 2";
  font-size: 15px;
  color:white;
  padding: 10px;
  margin-top:-15px;
  margin-left:30px;
}

.imagesart li {
    background:#666362;
    margin:30px;
    width:100%;
}

.namedesign {
  font-family:"Pacifico";
  font-size:12px;
  padding-left: 10px;
  padding-top:10px;
}

.namedesign a {
  color:black;
}

.homelist li h1 {
  font-family:"Lucida Sans";
  font-size: 25px;
  color:white;
  padding: 10px;
  margin-top:5px;
  margin-left:30px;
}

.homelist li p {
  font-family:"Modern No. 2";
  font-size: 15px;
  color:white;
  padding: 10px;
  margin-top:-15px;
  margin-left:30px;
  padding-left:10px;
}

.homelist li li {
    background:#666362;
    margin:30px;
    width:100%;
}

.namephoto {
  font-family:"Pacifico";
  font-size:12px;
  padding-left: 10px;
  padding-top:10px;
}

.namephoto a {
  color:black;
}
.imagesdesign h1 {
  font-family:"Lucida Sans";
  font-size: 25px;
  color:white;
  padding: 10px;
  margin-top:5px;
  margin-left:30px;
}

.imagesdesign p {
  font-family:"Modern No. 2";
  font-size: 15px;
  color:white;
  padding: 10px;
  margin-top:-15px;
  margin-left:30px;
}

.imagesdesign li {
    background:#666362;
    margin:30px;
    width:100%;
}

.imagesdesign img {
  width:100%
}

.imagesphoto h1 {
  font-family:"Lucida Sans";
  font-size: 25px;
  color:white;
  padding: 10px;
  margin-top:5px;
  margin-left:30px;
}

.imagesphoto p {
  font-family:"Modern No. 2";
  font-size: 15px;
  color:white;
  padding: 10px;
  margin-top:-15px;
  margin-left:30px;
}

.imagesphoto li {
    background:#666362;
    margin:30px;
    width:100%;
}

.imagesphoto img {
  width:100%
}

.imagesart img {
  width:100%
}

.imagesdesign img {
  width:100%
}

@media (min-width:768px){
  .header h1{
    font-size:40px;
    padding-bottom:30px;
    padding-top:20px;
  }

  .nameindex {
    font-size:20px;
  }
  .homelist li {
    font-size:25px;
  }
  .imageofme {
    padding-left:10px;
  }
  .headertext h1 {
    font-size:30px;
  }
  .aboutfooter h3{
    padding-left:490px;
  }
  .namephoto {
    font-size:20px;
  }
  .nameabout {
    font-size:20px;
  }
  .namedesign {
    font-size:20px;
  }
  .nameart {
    font-size:20px;
  }
  .navs li {
    float:right;
  }
  .navs a {
    color:black;
  }
  .navs a:hover{
    color: grey;
    text-decoration: none;
  }
  .navhome li {
    float:right;
  }
  .navhome a {
    color:white;
  }
  .navhome a:hover{
    color: grey;
    text-decoration: none;
  }

  }
@media (min-width:980px){
.navhome li {
  display:inline;
  padding-right: 20px;
}
.navhome a {
  color:white;
}
.navhome a:hover{
  color: grey;
  text-decoration: none;
}
.gridhome li{
  display:inline;
}

.navs li {
  display:inline;
  padding-right: 20px;
  float:right;
}
.navs a {
  color:black;
}

.navs a:hover{
  color: grey;
  text-decoration: none;
}
.nameabout {
  font-size:20px;
}

.headertext h1{
  margin-left:70px;
}
.aboutfooter h3{
  font-family: "Lucida Sans";
  font-size:20px;
}

.aboutfooter a {
  margin-top: -29px;
  float:right;
}

}
